<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{base::layout(~{::section})}">
<head>
    <meta charset="UTF-8">
    <title>Smart Contact Manager</title>
</head>
<body>
 <section class="banner">
     <div>
         <h1>Welcome to Smart Contact Manager</h1>
         <p>Stay connected, stay organized – Smart Contact Manager simplifies your connections with ease and efficiency.</p>

         <form action="/signup">
             <button type="submit">Get Started</button>
         </form>
     </div>
 </section>
</body>
</html>